.inputs {
  padding: 5%;
}

/* left panel login */
.left-pane {
  background-color: white;
  float: left;
  width: 25vw;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}

/* right panel login */
.right-pane {
  background-color: #8ba14d;
  height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* right pane video call */
.right-pane2 {
  height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* logo img */
img {
  max-width: 100%;
  max-height: 100%;
}

/* surrounds logo image (container) */
.img-container {
  width: 354px;
  /* margin top, left, bottom, right */
  margin: 60px auto 0 auto;
}

/* login styling */
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
}

/* login form header */
.form-container {
  font-size: 23px;
  margin-top: 100px;
  padding: 10%;
}

input {
  margin-top: 20px;
  border: 1.5px solid #8ba14d;
  width: 60%;
  font-size: 16px;
  border-radius: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.submitBtn {
  margin-top: 20px;
  font-size: 17px;
  padding: 5px;
  padding-inline: 20px;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: bold;
  background-color: #8ba14d;
  display: flex;
  justify-content: center;
}

.submitBtn:hover {
  background-color: #a2bb5d;
}

/* right graphic styling */
.illustration-container {
  margin-top: 200px;
  background-color: #ffffff59;
  width: 600px;
  height: 600px;
  border-radius: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* right illustration img */
.illustration-img-container {
  width: 400px;
  height: 400px;
  display: flex;
}

/* tagline styling */
#tag {
  margin-top: 200px;
  font-size: 23px;
  color: white;
}

/* called when information is incorrect */
.incorrect {
  border: 2px solid red;
}

/* called when not right credentials */
.warning {
  font-size: 15px;
  color: red;
  display: none;
}

.right-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
}

/* remote user video box styling */
#remoteStream {
  margin-top: 150px;
  justify-self: center;
  border: 2px solid #8ba14d;
  width: 800px;
  height: 500px;
}

/* self video box styling */
#SelfStream {
  text-align: left;
  margin-top: 20px;
  justify-self: center;
  border: 2px solid #8ba14d;
  width: 400px;
  height: 250px;
}

/* icon styling */
.icon {
  background-color: #8ba14d; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
.icon:hover {
  background-color: #a2bb5d;
}

.controls {
  display: flex;
  justify-self: center;
  margin: 10px;
}

/* footer styling */
#footer {
  position: absolute;
  bottom: 0px;
  background-color: #49552a;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}
.input-div.one {
  margin-top: 0;
}
.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i i {
  transition: 0.3s;
}
.input-div > div {
  position: relative;
  height: 45px;
}
.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: -5%;
  transform: translateY(-68%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}
.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #cdcddf;
  transition: 0.4s;
}
.input-div:before {
  right: 50%;
}
.input-div:after {
  left: 50%;
}
.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}
.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}
.input-div.focus > .i > i {
  color: #cdcddf;
}
.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2 rem;
  color: #555;
  font-family: "Montserrat", sans-serif;
}
.input-div.pass {
  margin-bottom: 4px;
}

/* login buttons */
#login {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #93aa51, #bbd66b, #a6bf5a);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

button:hover {
  background-position: right;
}

#createAccount a,
#login a {
  text-align: center;
  color: #fff;
}

#createAccount a:hover,
#login a:hover {
  text-align: center;
  color: rgb(221, 36, 36);
}
/* end login button styling */
