/* left panel login */
.left-pane {
    background-color: white;
    float: left;
    width: 25vw;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
}

/* right panel login */
.right-pane {
    background-color: #099dfd;
    height: 100vh;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* logo img */
img {
    max-width: 100%;
    max-height: 100%;
}

/* surrounds logo image (container) */
.img-container {
    width: 240px;
    /* margin top, left, bottom, right */
    margin: 60px auto 0 auto;
}

/* login styling */
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

/* login form header */
.form-container{
    font-size: 23px;
    margin-top: 100px;
}

input {
    margin-top: 20px;
    border: 1.5px solid #099dfd;
    width: 60%;
    font-size: 16px;
    border-radius: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

#submitBtn {
    margin-top: 20px;
    font-size: 17px;
    padding: 5px;
    padding-inline: 20px;
    border-radius: 5px;
    color:white;
    border: none;
    font-weight: bold;
    background-color: #099dfd;
    display: flex;
    justify-content: center;
}

#submitBtn:hover {
    background-color: #59bdff;
}

/* right graphic styling */
.illustration-container {
    margin-top: 200px;
    background-color: #ffffff59;
    width: 600px;
    height: 600px;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* right illustration img */
.illustration-img-container {
    width: 400px;
    height: 400px;
    display: flex;    
}

/* tagline styling */
#tag {
    margin-top: 200px;
    font-size: 23px;
    color: white;
}